.Button {
  background-color: #926540;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 18px;
  white-space: nowrap;
}

.Button_HAPPY {
  background-color: rgb(247, 208, 214);
}
