@font-face {
  font-family: "NanumPenScript";
  src: url("/NanumPenScript-Regular.ttf");
}

html,
body {
  margin: 0px;
  width: 100%;
  background-color: rgb(249, 255, 222);
}

#root {
  background-color: white;
  max-width: 600px;
  width: 100%;
  margin: 0px auto;
  min-height: 100vh;
  height: 100%;
  box-shadow: rgba(98, 129, 58, 0.2) 0px 0px 20px 10px;
}

body * {
  font-family: "NanumPenScript";
}

img {
  width: 100px;
}
