@font-face {
  font-family: "NanumPenScript";
  src: url("/NanumPenScript-Regular.ttf");
}

html,
body {
  margin: 0px;
  width: 100%;
  background-color: rgb(147, 172, 127);
  display: flex;
}

#root {
  background-color: white;
  max-width: 600px;
  width: 100%;
  margin: 0px auto;
  min-height: 100vh;
  height: 100%;
  box-shadow: rgba(43, 80, 26, 0.2) 0px 0px 20px 10px;
  padding: 0px 20px;
}

body * {
  font-family: "NanumPenScript";
}

img {
  width: 100px;
}
